.uploader {
    border: solid 1px #85B6E2;
    margin:10px 5px;
}

.button {
    width: 60px;
    text-align: center;
    background: #fff;
    border: 1px solid #175AA8;
    color: #333;
    cursor:pointer;
    padding:2px;
    margin:15px 5px;
}

    .button:hover {
        color: #fff;
        background: #175AA8;
    }
