<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PageLength" value="28" />
    <add key="NoticeTitleMaxLength" value="14" />
    <add key="NewsTitleMaxLength" value="45" />
    <add key="LinkTitleMaxLength" value="18" />
    <add key="NewsImageMaxLength" value="40" />
    <add key="LabIntroDefaultPage" value="LabIntro.aspx"/>
    <add key="TeachersDefaultPage" value="Teachers.aspx"/>
    <add key="StudentsDefaultPage" value="Students.aspx"/>
    <add key="ResearchDefaultPage" value="SR.aspx"/>
    <add key="StudentWorkDefaultPage" value="#"/>
    <add key="ExchangeDefaultPage" value="#"/>
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="rpldbEntities" connectionString="metadata=res://*/Rpl.csdl|res://*/Rpl.ssdl|res://*/Rpl.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\rpldb.sdf;password=123456;persist security info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>